<h3>StyleBuilder</h3>

@code {
    Dictionary<string, string> styles = new Dictionary<string, string>()
    {
        { "Audio Flicker", "AudioFlicker<Color1, Color2>" },
        { "Blast", "Blast<BaseColor, BlastColor, FadeoutTime, >" },
        { "BlastFadeOut" }
        { "Blinking", "blinking" },
        { "Brown Noise Flicker", "brown_noise_flicker" },
        { "Byteorder", "byteorder" },
        { "Charging", "charging" },
        { "Clash", "clash" },
        { "Color Cycle", "color_cycle" },
        { "Color Change", "colorchange" },
        { "Colors", "colors" },
        { "Cylon", "cylon" },
        { "" }
    };



}
